<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Active Claims</title>
</head>
<body>
<ul>
    <li th:each="claim: ${healthClaims}">
        <p th:text="${claim.getRecordId()}"></p>
    </li>
</ul>
<ul>
    <li th:each="claim: ${vehicleClaims}">
        <p th:text="${claim.getRecordId()}"></p>
    </li>
</ul>
<ul>
    <li th:each="claim: ${propertyClaims}">
        <p th:text="${claim.getRecordId()}"></p>
    </li>
</ul>
<ul>
    <li th:each="claim: ${lifeClaims}">
        <p th:text="${claim.getRecordId()}"></p>
    </li>
</ul>
</body>
</html>